## Preparation

In [ ]:
#Access Google Collab

from google.colab import drive

drive.mount('/content/gdrive/')

Mounted at /content/gdrive/

In [ ]:
!pip install gensim
!pip install nltk
!pip install pandas
!pip install sklearn
!pip install keras!
!pip install tensorflow
!pip install pandas_ml
!pip install matplotlib

Requirement already satisfied: gensim in /usr/local/lib/python3.7/dist-packages (3.6.0)
Requirement already satisfied: scipy>=0.18.1 in /usr/local/lib/python3.7/dist-packages (from gensim) (1.4.1)
Requirement already satisfied: smart-open>=1.2.1 in /usr/local/lib/python3.7/dist-packages (from gensim) (5.0.0)
Requirement already satisfied: numpy>=1.11.3 in /usr/local/lib/python3.7/dist-packages (from gensim) (1.19.5)
Requirement already satisfied: six>=1.5.0 in /usr/local/lib/python3.7/dist-packages (from gensim) (1.15.0)
Requirement already satisfied: nltk in /usr/local/lib/python3.7/dist-packages (3.2.5)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from nltk) (1.15.0)
Requirement already satisfied: pandas in /usr/local/lib/python3.7/dist-packages (1.1.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas) (2018.9)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from pandas) (1.19.5)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas) (1.15.0)
Requirement already satisfied: sklearn in /usr/local/lib/python3.7/dist-packages (0.0)
Requirement already satisfied: scikit-learn in /usr/local/lib/python3.7/dist-packages (from sklearn) (0.22.2.post1)
Requirement already satisfied: numpy>=1.11.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->sklearn) (1.19.5)
Requirement already satisfied: joblib>=0.11 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->sklearn) (1.0.1)
Requirement already satisfied: scipy>=0.17.0 in /usr/local/lib/python3.7/dist-packages (from scikit-learn->sklearn) (1.4.1)
ERROR: Invalid requirement: 'keras!'
Requirement already satisfied: tensorflow in /usr/local/lib/python3.7/dist-packages (2.5.0)
Requirement already satisfied: typing-extensions~=3.7.4 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (3.7.4.3)
Requirement already satisfied: numpy~=1.19.2 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (1.19.5)
Requirement already satisfied: wheel~=0.35 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (0.36.2)
Requirement already satisfied: google-pasta~=0.2 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (0.2.0)
Requirement already satisfied: absl-py~=0.10 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (0.12.0)
Requirement already satisfied: six~=1.15.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (1.15.0)
Requirement already satisfied: grpcio~=1.34.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (1.34.1)
Requirement already satisfied: astunparse~=1.6.3 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (1.6.3)
Requirement already satisfied: protobuf>=3.9.2 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (3.12.4)
Requirement already satisfied: keras-nightly~=2.5.0.dev in /usr/local/lib/python3.7/dist-packages (from tensorflow) (2.5.0.dev2021032900)
Requirement already satisfied: gast==0.4.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (0.4.0)
Requirement already satisfied: flatbuffers~=1.12.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (1.12)
Requirement already satisfied: opt-einsum~=3.3.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (3.3.0)
Requirement already satisfied: wrapt~=1.12.1 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (1.12.1)
Requirement already satisfied: tensorflow-estimator<2.6.0,>=2.5.0rc0 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (2.5.0)
Requirement already satisfied: h5py~=3.1.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (3.1.0)
Requirement already satisfied: termcolor~=1.1.0 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (1.1.0)
Requirement already satisfied: keras-preprocessing~=1.1.2 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (1.1.2)
Requirement already satisfied: tensorboard~=2.5 in /usr/local/lib/python3.7/dist-packages (from tensorflow) (2.5.0)
Requirement already satisfied: setuptools in /usr/local/lib/python3.7/dist-packages (from protobuf>=3.9.2->tensorflow) (56.1.0)
Requirement already satisfied: cached-property; python_version < "3.8" in /usr/local/lib/python3.7/dist-packages (from h5py~=3.1.0->tensorflow) (1.5.2)
Requirement already satisfied: requests<3,>=2.21.0 in /usr/local/lib/python3.7/dist-packages (from tensorboard~=2.5->tensorflow) (2.23.0)
Requirement already satisfied: markdown>=2.6.8 in /usr/local/lib/python3.7/dist-packages (from tensorboard~=2.5->tensorflow) (3.3.4)
Requirement already satisfied: werkzeug>=0.11.15 in /usr/local/lib/python3.7/dist-packages (from tensorboard~=2.5->tensorflow) (1.0.1)
Requirement already satisfied: tensorboard-data-server<0.7.0,>=0.6.0 in /usr/local/lib/python3.7/dist-packages (from tensorboard~=2.5->tensorflow) (0.6.1)
Requirement already satisfied: google-auth<2,>=1.6.3 in /usr/local/lib/python3.7/dist-packages (from tensorboard~=2.5->tensorflow) (1.30.0)
Requirement already satisfied: tensorboard-plugin-wit>=1.6.0 in /usr/local/lib/python3.7/dist-packages (from tensorboard~=2.5->tensorflow) (1.8.0)
Requirement already satisfied: google-auth-oauthlib<0.5,>=0.4.1 in /usr/local/lib/python3.7/dist-packages (from tensorboard~=2.5->tensorflow) (0.4.4)
Requirement already satisfied: idna<3,>=2.5 in /usr/local/lib/python3.7/dist-packages (from requests<3,>=2.21.0->tensorboard~=2.5->tensorflow) (2.10)
Requirement already satisfied: chardet<4,>=3.0.2 in /usr/local/lib/python3.7/dist-packages (from requests<3,>=2.21.0->tensorboard~=2.5->tensorflow) (3.0.4)
Requirement already satisfied: certifi>=2017.4.17 in /usr/local/lib/python3.7/dist-packages (from requests<3,>=2.21.0->tensorboard~=2.5->tensorflow) (2020.12.5)
Requirement already satisfied: urllib3!=1.25.0,!=1.25.1,<1.26,>=1.21.1 in /usr/local/lib/python3.7/dist-packages (from requests<3,>=2.21.0->tensorboard~=2.5->tensorflow) (1.24.3)
Requirement already satisfied: importlib-metadata; python_version < "3.8" in /usr/local/lib/python3.7/dist-packages (from markdown>=2.6.8->tensorboard~=2.5->tensorflow) (4.0.1)
Requirement already satisfied: cachetools<5.0,>=2.0.0 in /usr/local/lib/python3.7/dist-packages (from google-auth<2,>=1.6.3->tensorboard~=2.5->tensorflow) (4.2.2)
Requirement already satisfied: pyasn1-modules>=0.2.1 in /usr/local/lib/python3.7/dist-packages (from google-auth<2,>=1.6.3->tensorboard~=2.5->tensorflow) (0.2.8)
Requirement already satisfied: rsa<5,>=3.1.4; python_version >= "3.6" in /usr/local/lib/python3.7/dist-packages (from google-auth<2,>=1.6.3->tensorboard~=2.5->tensorflow) (4.7.2)
Requirement already satisfied: requests-oauthlib>=0.7.0 in /usr/local/lib/python3.7/dist-packages (from google-auth-oauthlib<0.5,>=0.4.1->tensorboard~=2.5->tensorflow) (1.3.0)
Requirement already satisfied: zipp>=0.5 in /usr/local/lib/python3.7/dist-packages (from importlib-metadata; python_version < "3.8"->markdown>=2.6.8->tensorboard~=2.5->tensorflow) (3.4.1)
Requirement already satisfied: pyasn1<0.5.0,>=0.4.6 in /usr/local/lib/python3.7/dist-packages (from pyasn1-modules>=0.2.1->google-auth<2,>=1.6.3->tensorboard~=2.5->tensorflow) (0.4.8)
Requirement already satisfied: oauthlib>=3.0.0 in /usr/local/lib/python3.7/dist-packages (from requests-oauthlib>=0.7.0->google-auth-oauthlib<0.5,>=0.4.1->tensorboard~=2.5->tensorflow) (3.1.0)
Requirement already satisfied: pandas_ml in /usr/local/lib/python3.7/dist-packages (0.6.1)
Requirement already satisfied: enum34 in /usr/local/lib/python3.7/dist-packages (from pandas_ml) (1.1.10)
Requirement already satisfied: pandas>=0.19.0 in /usr/local/lib/python3.7/dist-packages (from pandas_ml) (1.1.5)
Requirement already satisfied: python-dateutil>=2.7.3 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.19.0->pandas_ml) (2.8.1)
Requirement already satisfied: pytz>=2017.2 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.19.0->pandas_ml) (2018.9)
Requirement already satisfied: numpy>=1.15.4 in /usr/local/lib/python3.7/dist-packages (from pandas>=0.19.0->pandas_ml) (1.19.5)
Requirement already satisfied: six>=1.5 in /usr/local/lib/python3.7/dist-packages (from python-dateutil>=2.7.3->pandas>=0.19.0->pandas_ml) (1.15.0)
Requirement already satisfied: matplotlib in /usr/local/lib/python3.7/dist-packages (3.2.2)
Requirement already satisfied: pyparsing!=2.0.4,!=2.1.2,!=2.1.6,>=2.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib) (2.4.7)
Requirement already satisfied: cycler>=0.10 in /usr/local/lib/python3.7/dist-packages (from matplotlib) (0.10.0)
Requirement already satisfied: numpy>=1.11 in /usr/local/lib/python3.7/dist-packages (from matplotlib) (1.19.5)
Requirement already satisfied: kiwisolver>=1.0.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib) (1.3.1)
Requirement already satisfied: python-dateutil>=2.1 in /usr/local/lib/python3.7/dist-packages (from matplotlib) (2.8.1)
Requirement already satisfied: six in /usr/local/lib/python3.7/dist-packages (from cycler>=0.10->matplotlib) (1.15.0)

In [ ]:
import warnings
warnings.filterwarnings('ignore')

In [ ]:
#Import packages
import nltk
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from nltk.stem import SnowballStemmer
from sklearn.model_selection import train_test_split

In [ ]:
from google.colab import drive
drive.mount('/content/drive')

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).

In [ ]:
#Load data
data_train = pd.read_csv('/content/gdrive/MyDrive/small_train.csv')
data_test = pd.read_csv('/content/gdrive/MyDrive/small_test.csv')

FileNotFoundError: ignored

In [ ]:
#Convert data into str
data_train = data_train.astype(str)
data_test = data_test.astype(str)

In [ ]:
#Randlomly select 1% of data to work with
data_train = data_train.sample(frac =.01)
data_test = data_test.sample(frac =.01)

In [ ]:
#View data
data_train

             ID                                           keywords age sex
534766    19426  titulaires:1;face:1;rochelle:1;top:1;francais:...  49   M
726220     5257                    quiz:1;play:2;taptabul:2;game:6  46   M
547317  8438950  barbara:1;film:3;chateau:1;verre:1;gauguin:1;c...  51   F
799033  1635985                            emploi:1;detail_offre:1  37   F
497913    71666  article:1;numerique:1;actualites:1;salaires:1;...  44   F
...         ...                                                ...  ..  ..
892273    99168  birmanie:1;profiter:1;magimel:1;universite:1;g...  48   M
240679   113961  pin:2;code:2;amis:2;disparition:2;vue:2;enquet...  37   F
994733  2875605                        popol:1;entreprise:1;chez:1  41   M
135679  3078056  word:2;forum:1;suivi:2;modifications:2;faq:1;d...  48   F
862773   138559  episode:1;maya:1;calecon:1;dans:1;france:1;pol...  49   M

[10000 rows x 4 columns]

In [ ]:
#View data
data_test

             ID                                           keywords  age  sex
496475  2903855  charlotte:2;video:2;fille:2;passion:2;cachee:2...  nan  nan
319156   539344  article:1;indesirables:1;ministre:1;annonce:1;...  nan  nan
445520  2835244  demande:1;modele:1;faq:1;lettre:1;temps:1;part...  nan  nan
233417  1597502  ville:9;doit:1;travail:2;bayencourt:9;les:1;re...  nan  nan
282135  1381180                                                nan  nan  nan
...         ...                                                ...  ...  ...
89389   1212167                            detail_offre:5;emploi:5  nan  nan
373509  1802826  instagram:33;macron:33;francais:1;dans:1;bundc...  nan  nan
314222  2019205                                             edit:3  nan  nan
211702   664824             emploi:3;liste_offres:2;detail_offre:1  nan  nan
362409  1418623                 bubbles:3;bubble:3;shooter:3;jeu:3  nan  nan

[5000 rows x 4 columns]

In [ ]:
#Describe data_train
#Print column names and outputs
for col in data_train.columns:
  print("#"*50)
  print(col)
  print(data_train[col].value_counts())

##################################################
ID
933        42
1888       12
11719       7
508566      6
3900        5
           ..
4443388     1
108616      1
130747      1
289947      1
337072      1
Name: ID, Length: 9827, dtype: int64
##################################################
keywords
nan                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                            1153
detail_offre:1;emploi:1                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          81
emploi:1;detail_offre:1                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          77
annonce:1                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                        71
emploi:2;detail_offre:2                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                          34
                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               ...
moutarde:3;gratin:3;financees:1;legumes:2;crevettes:7;article:1;caramelisees:2;carbo:1;poires:2;lit:2;mini:1;ingenieurs:1;poulette:2;sans:2;pennes:1;pour:1;recettes:38;ravioli:3;spirelli:3;facebook:1;persil:2;chevre:3;inquietante:1;four:3;noisette:2;tva:1;secteur:1;patiflette:2;reglisse:2;gluten:2;sauce:11;des:1;conjoncture:1;sautees:1;ricotta:2;noix:2;jambon:8;situation:1;jeunes:1;facon:2;piment:6;attractions:1;chorizo:8;pates:50;grises:3;tagliatelle:1;brocolis:2;spaghetti:38;vert:3;regime:12;frit:1;poivrons:5;pastasotto:2;fait:12;piments:3;grilles:2;szechuan:2;porto:3;epinards:3;homosexuels:1;carbonara:4;thon:5;tortiglioni:39;farcis:3;petoncles:2;veritable:1;high:1;tagliatelles:1;lasagne:38;coquillettes:4;croziflette:2;figues:2;gratins:1;ancienne:3;beurre:2;spiralines:2;citronnees:2;amandes:1;sur:2;capres:4;spaghettis:3;linguine:5;champignons:5;pepper:1;herve:2;tomates:5;calamarata:2;salade:2;bien:12;pignons:1;citron:7;orecchiette:1;jus:12;etre:12;fenouil:2;echalotes:2;pin:1;jaune:1;fines:3;herbes:3;torrefies:1;parmesan:3;citron:12;coriandre:2;lard:3;les:1;baies:2;siege:1;conchiglioni:7;morrazella:1;cru:2;maigrir:12;chili:3;aux:15;rouge:8;parc:1;pesto:2;paprika:4;tech:1;tomate:2;doux:3;mozzarella:4;gastronomie:38;chapelure:3;peu:1;conchiglie:2;social:1;les:1;citronne:2;par:1;risotto:3;parme:1;sechees:3;saumon:3;red:1;vih:1;des:1;artichauts:1;merguez:3;chez:1;penne:39;regions:1;cremeuse:2;creme:2;fromages:1;liege:2;fume:5;fromage:4;sirop:2;recette:27;farfalles:2;ail:5                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                             1

In [ ]:
#Check missing data
data_train.isnull().sum()

ID          0
keywords    0
age         0
sex         0
dtype: int64

## Split DataSet in Training Set / Testing Set in 80% / 20%

In [ ]:
web_train_dataset, web_test_dataset = train_test_split(data_train, test_size=0.2, random_state = 1)

In [ ]:
print("Test Dataset : " ,len(web_test_dataset))
print("Train Dataset : ", len(web_train_dataset))
print("Labels : ", len(web_train_dataset.keywords.unique()))

Test Dataset :  2000
Train Dataset :  8000
Labels :  6650

## Custom CNN for Text Classification (with Learned embeddings)

In [ ]:
from keras.preprocessing.text import Tokenizer
from keras.models import Sequential, Model
from keras.optimizers import Adamax, Adam
from keras.preprocessing import sequence
from sklearn.preprocessing import LabelBinarizer
from sklearn.model_selection import train_test_split

In [ ]:
from keras.layers import Input, Embedding, Reshape, Conv2D, MaxPool2D

In [ ]:
from keras.layers import Concatenate, Flatten, Dropout, Dense, Activation

In [ ]:
from keras import backend as K
#K.tensorflow_backend._get_available_gpus()

In [ ]:
import nltk
nltk.download('stopwords')

[nltk_data] Downloading package stopwords to /root/nltk_data...
[nltk_data]   Package stopwords is already up-to-date!

True

In [ ]:
#Load sentences from Pandas
train_sentences = web_train_dataset['keywords'].values
test_sentences = web_test_dataset['keywords'].values
train_labels = web_train_dataset['sex'].values
test_labels = web_test_dataset['sex'].values

In [ ]:
num_labels = 7
vocab_size = 15000
batch_size = 1000
top_words = 15000
embedding_vector_length = 300
maxlen = 30

## for CNN
filter_sizes = [2,4,6]
num_filters = 20
drop = 0.5

In [ ]:
#import snowballstemmer
#SnowballStemmer
import nltk
pd.options.mode.chained_assignment = None  # default='warn'

stemmer = SnowballStemmer
stop = nltk.corpus.stopwords.words('english')
#stop.extend(lowfreq)
toktok = nltk.tokenize.toktok.ToktokTokenizer()

web_train_dataset['cleaned'] = web_train_dataset['keywords']
web_train_dataset['cleaned'].replace('[!"#%\'()*+,-./:;<=>?@\[\]^_`{|}~’”“′‘\\\]',' ',inplace=True,regex=True)
web_train_dataset['cleaned'] = web_train_dataset['cleaned'].str.lower()
web_train_dataset['cleaned'] = web_train_dataset['cleaned'].apply(toktok.tokenize)
web_train_dataset['cleaned'] = web_train_dataset['cleaned'].apply(lambda x: [word for word in x if word not in stop])
web_train_dataset['cleaned'] = web_train_dataset['cleaned'].apply(lambda x: " ".join(x))

web_test_dataset['cleaned'] = web_test_dataset['keywords']
web_test_dataset['cleaned'].replace('[!"#%\'()*+,-./:;<=>?@\[\]^_`{|}~’”“′‘\\\]',' ',inplace=True,regex=True)
web_test_dataset['cleaned'] = web_test_dataset['cleaned'].str.lower()
web_test_dataset['cleaned'] = web_test_dataset['cleaned'].apply(toktok.tokenize)
web_test_dataset['cleaned'] = web_test_dataset['cleaned'].apply(lambda x: [word for word in x if word not in stop])
web_test_dataset['cleaned'] = web_test_dataset['cleaned'].apply(lambda x: " ".join(x))

In [ ]:
#Load Sentences from pandas
train_sentences = web_train_dataset['cleaned'].values
test_sentences = web_test_dataset['cleaned'].values
train_labels = web_train_dataset['sex'].values
test_labels = web_test_dataset['sex'].values

In [ ]:
tokenizer = Tokenizer(num_words=vocab_size)
tokenizer.fit_on_texts(train_sentences)
x_train = tokenizer.texts_to_sequences(train_sentences)
x_test = tokenizer.texts_to_sequences(test_sentences)
x_train = sequence.pad_sequences(x_train, maxlen=maxlen)
x_test = sequence.pad_sequences(x_test, maxlen=maxlen)
x_train.shape

(8000, 30)

In [ ]:
#Encode the Labels
encoder = LabelBinarizer()
encoder.fit(train_labels)
y_train = encoder.transform(train_labels)
y_test = encoder.transform(test_labels)

In [ ]:
#Build the Model
Inputs_W = Input(shape=(maxlen,))
Inputs_E = Embedding(vocab_size, embedding_vector_length, input_length=maxlen)(Inputs_W)
reshape = Reshape((maxlen,embedding_vector_length,1))(Inputs_E)

conv_0 = Conv2D(num_filters, kernel_size=(filter_sizes[0], embedding_vector_length), padding='valid', kernel_initializer='normal', activation='relu')(reshape)
conv_1 = Conv2D(num_filters, kernel_size=(filter_sizes[1], embedding_vector_length), padding='valid', kernel_initializer='normal', activation='relu')(reshape)
conv_2 = Conv2D(num_filters, kernel_size=(filter_sizes[2], embedding_vector_length), padding='valid', kernel_initializer='normal', activation='relu')(reshape)

maxpool_0 = MaxPool2D(pool_size=(maxlen - filter_sizes[0] + 1, 1), strides=(1,1), padding='valid')(conv_0)
maxpool_1 = MaxPool2D(pool_size=(maxlen - filter_sizes[1] + 1, 1), strides=(1,1), padding='valid')(conv_1)
maxpool_2 = MaxPool2D(pool_size=(maxlen - filter_sizes[2] + 1, 1), strides=(1,1), padding='valid')(conv_2)

concatenated_tensor = Concatenate(axis=1)([maxpool_0, maxpool_1, maxpool_2])
flatten = Flatten()(concatenated_tensor)
dropout = Dropout(drop)(flatten)
Dense_Label = Dense(num_labels)(dropout)
Classifier = Activation('softmax')(Dense_Label)

model = Model(Inputs_W, Classifier)
model.summary()

optimizer = Adam(lr=0.001, beta_1=0.9, beta_2=0.999, amsgrad=False)
    
model.compile(loss='sparse_categorical_crossentropy',
              optimizer=optimizer,
              metrics=['accuracy'])
 
history = model.fit(x_train, y_train,
                    batch_size=batch_size,
                    epochs=25,
                    verbose=1,
                    validation_split=0.2)

Model: "model"
__________________________________________________________________________________________________
Layer (type)                    Output Shape         Param #     Connected to
==================================================================================================
input_1 (InputLayer)            [(None, 30)]         0
__________________________________________________________________________________________________
embedding (Embedding)           (None, 30, 300)      4500000     input_1[0][0]
__________________________________________________________________________________________________
reshape (Reshape)               (None, 30, 300, 1)   0           embedding[0][0]
__________________________________________________________________________________________________
conv2d (Conv2D)                 (None, 29, 1, 20)    12020       reshape[0][0]
__________________________________________________________________________________________________
conv2d_1 (Conv2D)               (None, 27, 1, 20)    24020       reshape[0][0]
__________________________________________________________________________________________________
conv2d_2 (Conv2D)               (None, 25, 1, 20)    36020       reshape[0][0]
__________________________________________________________________________________________________
max_pooling2d (MaxPooling2D)    (None, 1, 1, 20)     0           conv2d[0][0]
__________________________________________________________________________________________________
max_pooling2d_1 (MaxPooling2D)  (None, 1, 1, 20)     0           conv2d_1[0][0]
__________________________________________________________________________________________________
max_pooling2d_2 (MaxPooling2D)  (None, 1, 1, 20)     0           conv2d_2[0][0]
__________________________________________________________________________________________________
concatenate (Concatenate)       (None, 3, 1, 20)     0           max_pooling2d[0][0]
                                                                 max_pooling2d_1[0][0]
                                                                 max_pooling2d_2[0][0]
__________________________________________________________________________________________________
flatten (Flatten)               (None, 60)           0           concatenate[0][0]
__________________________________________________________________________________________________
dropout (Dropout)               (None, 60)           0           flatten[0][0]
__________________________________________________________________________________________________
dense (Dense)                   (None, 7)            427         dropout[0][0]
__________________________________________________________________________________________________
activation (Activation)         (None, 7)            0           dense[0][0]
==================================================================================================
Total params: 4,572,487
Trainable params: 4,572,487
Non-trainable params: 0
__________________________________________________________________________________________________
Epoch 1/25
7/7 [==============================] - 24s 1s/step - loss: 1.8171 - accuracy: 0.3512 - val_loss: 1.4038 - val_accuracy: 0.5725
Epoch 2/25
7/7 [==============================] - 7s 956ms/step - loss: 1.3324 - accuracy: 0.5586 - val_loss: 1.0239 - val_accuracy: 0.5731
Epoch 3/25
7/7 [==============================] - 7s 966ms/step - loss: 1.0129 - accuracy: 0.5685 - val_loss: 0.8005 - val_accuracy: 0.5788
Epoch 4/25
7/7 [==============================] - 7s 967ms/step - loss: 0.8324 - accuracy: 0.5688 - val_loss: 0.7149 - val_accuracy: 0.5819
Epoch 5/25
7/7 [==============================] - 7s 970ms/step - loss: 0.7596 - accuracy: 0.5772 - val_loss: 0.6879 - val_accuracy: 0.5956
Epoch 6/25
7/7 [==============================] - 7s 966ms/step - loss: 0.7030 - accuracy: 0.6098 - val_loss: 0.6772 - val_accuracy: 0.6037
Epoch 7/25
7/7 [==============================] - 7s 970ms/step - loss: 0.6716 - accuracy: 0.6242 - val_loss: 0.6721 - val_accuracy: 0.6131
Epoch 8/25
7/7 [==============================] - 7s 956ms/step - loss: 0.6382 - accuracy: 0.6647 - val_loss: 0.6689 - val_accuracy: 0.6137
Epoch 9/25
7/7 [==============================] - 7s 956ms/step - loss: 0.6129 - accuracy: 0.6957 - val_loss: 0.6650 - val_accuracy: 0.6162
Epoch 10/25
7/7 [==============================] - 7s 955ms/step - loss: 0.5818 - accuracy: 0.7308 - val_loss: 0.6626 - val_accuracy: 0.6144
Epoch 11/25
7/7 [==============================] - 7s 949ms/step - loss: 0.5491 - accuracy: 0.7574 - val_loss: 0.6622 - val_accuracy: 0.6150
Epoch 12/25
7/7 [==============================] - 7s 949ms/step - loss: 0.5203 - accuracy: 0.7878 - val_loss: 0.6615 - val_accuracy: 0.6081
Epoch 13/25
7/7 [==============================] - 7s 964ms/step - loss: 0.4955 - accuracy: 0.8001 - val_loss: 0.6634 - val_accuracy: 0.6087
Epoch 14/25
7/7 [==============================] - 7s 957ms/step - loss: 0.4661 - accuracy: 0.8238 - val_loss: 0.6670 - val_accuracy: 0.6050
Epoch 15/25
7/7 [==============================] - 7s 951ms/step - loss: 0.4319 - accuracy: 0.8403 - val_loss: 0.6723 - val_accuracy: 0.6031
Epoch 16/25
7/7 [==============================] - 7s 966ms/step - loss: 0.4038 - accuracy: 0.8534 - val_loss: 0.6788 - val_accuracy: 0.5987
Epoch 17/25
7/7 [==============================] - 7s 945ms/step - loss: 0.3749 - accuracy: 0.8679 - val_loss: 0.6876 - val_accuracy: 0.5975
Epoch 18/25
7/7 [==============================] - 7s 948ms/step - loss: 0.3530 - accuracy: 0.8720 - val_loss: 0.7052 - val_accuracy: 0.5856
Epoch 19/25
7/7 [==============================] - 7s 959ms/step - loss: 0.3272 - accuracy: 0.8869 - val_loss: 0.7121 - val_accuracy: 0.6037
Epoch 20/25
7/7 [==============================] - 7s 955ms/step - loss: 0.3071 - accuracy: 0.8885 - val_loss: 0.7376 - val_accuracy: 0.5800
Epoch 21/25
7/7 [==============================] - 7s 962ms/step - loss: 0.2900 - accuracy: 0.8962 - val_loss: 0.7495 - val_accuracy: 0.5888
Epoch 22/25
7/7 [==============================] - 7s 963ms/step - loss: 0.2707 - accuracy: 0.9031 - val_loss: 0.7748 - val_accuracy: 0.5806
Epoch 23/25
7/7 [==============================] - 7s 984ms/step - loss: 0.2585 - accuracy: 0.9061 - val_loss: 0.7961 - val_accuracy: 0.5900
Epoch 24/25
7/7 [==============================] - 7s 972ms/step - loss: 0.2451 - accuracy: 0.9120 - val_loss: 0.8258 - val_accuracy: 0.5813
Epoch 25/25
7/7 [==============================] - 7s 979ms/step - loss: 0.2286 - accuracy: 0.9153 - val_loss: 0.8494 - val_accuracy: 0.5813

In [ ]:
score = model.evaluate(x_test, y_test,
                       batch_size=batch_size, verbose=1)
 
print('Test accuracy:', score[1])
 
text_labels = encoder.classes_

Result = []
for i in range(len(web_test_dataset)):
    prediction = model.predict(np.array([x_test[i]]))
    predicted_label = text_labels[np.argmax(prediction[0])]
    Result.append(predicted_label)
    
# Append the list of results to the test dataframe
pd.options.mode.chained_assignment = None  # default='warn'
web_test_dataset['result_CustomRNN'] = Result

2/2 [==============================] - 1s 143ms/step - loss: 0.8374 - accuracy: 0.5650
Test accuracy: 0.5649999976158142

In [ ]:
web_test_dataset

             ID  ... result_CustomRNN
673590   171197  ...                M
709637  1495802  ...                M
165630   787894  ...                F
686205   696834  ...                M
972683  4587348  ...                M
...         ...  ...              ...
684736    45164  ...                M
788023  1463032  ...                M
881002   647353  ...                F
532198   957913  ...                M
254165  6993722  ...                M

[2000 rows x 6 columns]

In [ ]:
train_sentences_bis = web_train_dataset['cleaned'].values
test_sentences_bis = web_test_dataset['cleaned'].values
train_labels_bis = web_train_dataset['age'].values
test_labels_bis = web_test_dataset['age'].values

In [ ]:
tokenizer = Tokenizer(num_words=vocab_size)
tokenizer.fit_on_texts(train_sentences_bis)
x_train_bis = tokenizer.texts_to_sequences(train_sentences_bis)
x_test_bis = tokenizer.texts_to_sequences(test_sentences_bis)
x_train_bis = sequence.pad_sequences(x_train_bis, maxlen=maxlen)
x_test_bis = sequence.pad_sequences(x_test_bis, maxlen=maxlen)
x_train_bis.shape

(8000, 30)

In [ ]:
y_train_bis = train_labels_bis
y_test_bis = test_labels_bis

In [ ]:
import xgboost as xgb
from sklearn.model_selection import KFold, cross_val_score, train_test_split
from sklearn.ensemble import RandomForestRegressor
from xgboost import plot_importance
from sklearn.metrics import mean_squared_error

In [ ]:
xgbr= xgb.XGBRegressor(objective ='reg:linear', colsample_bytree = 0.3, learning_rate = 0.07,max_depth = 5, alpha = 10, n_estimators = 1000,n_jobs=-1)

xgbr.fit(x_train_bis,y_train_bis)

Y_pred=xgbr.predict(x_test_bis)

mse = mean_squared_error(y_test_bis, Y_pred, squared=False)

rmse=mse**0.5

rmse

[09:12:31] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

3.63766955648937

In [ ]:
xgbr.fit(x_train_bis,y_train_bis)

[09:12:36] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

XGBRegressor(alpha=10, base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=0.3, gamma=0,
             importance_type='gain', learning_rate=0.07, max_delta_step=0,
             max_depth=5, min_child_weight=1, missing=None, n_estimators=1000,
             n_jobs=-1, nthread=None, objective='reg:linear', random_state=0,
             reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
             silent=None, subsample=1, verbosity=1)

In [ ]:
xgbr.score(x_train_bis,y_train_bis)

0.5870287272595469

In [ ]:
xgbr.fit(x_test_bis,y_test_bis)

[09:12:42] WARNING: /workspace/src/objective/regression_obj.cu:152: reg:linear is now deprecated in favor of reg:squarederror.

XGBRegressor(alpha=10, base_score=0.5, booster='gbtree', colsample_bylevel=1,
             colsample_bynode=1, colsample_bytree=0.3, gamma=0,
             importance_type='gain', learning_rate=0.07, max_delta_step=0,
             max_depth=5, min_child_weight=1, missing=None, n_estimators=1000,
             n_jobs=-1, nthread=None, objective='reg:linear', random_state=0,
             reg_alpha=0, reg_lambda=1, scale_pos_weight=1, seed=None,
             silent=None, subsample=1, verbosity=1)

In [ ]:
xgbr.score(x_test_bis,y_test_bis)

0.8261128110411717

##Clean test data

In [ ]:
#Load sentences from Pandas
test_sentences2 = data_test['keywords'].values
test_labels2 = data_test['sex'].values

In [ ]:
data_test['cleaned'] = data_test['keywords']
data_test['cleaned'].replace('[!"#%\'()*+,-./:;<=>?@\[\]^_`{|}~’”“′‘\\\]',' ',inplace=True,regex=True)
data_test['cleaned'] = data_test['cleaned'].str.lower()
data_test['cleaned'] = data_test['cleaned'].apply(toktok.tokenize)
data_test['cleaned'] = data_test['cleaned'].apply(lambda x: [word for word in x if word not in stop])
data_test['cleaned'] = data_test['cleaned'].apply(lambda x: " ".join(x))

In [ ]:
#Load Sentences from pandas
test_sentences2 = data_test['cleaned'].values
test_labels2 = data_test['sex'].values

In [ ]:
tokenizer = Tokenizer(num_words=vocab_size)
x_test2 = tokenizer.texts_to_sequences(test_sentences2)
x_test2 = sequence.pad_sequences(x_test2, maxlen=maxlen)

In [ ]:
#Encode the Labels
encoder = LabelBinarizer()
encoder.fit(train_labels)
y_test2 = encoder.transform(test_labels2)

In [ ]:
prediction = model.predict(np.array(x_test2))

In [ ]:
print(prediction)

[[4.1464266e-01 5.8475131e-01 1.9188474e-04 ... 5.0706825e-05
  1.0862849e-04 1.7022628e-04]
 [4.1464266e-01 5.8475131e-01 1.9188474e-04 ... 5.0706825e-05
  1.0862849e-04 1.7022628e-04]
 [4.1464266e-01 5.8475131e-01 1.9188474e-04 ... 5.0706825e-05
  1.0862849e-04 1.7022628e-04]
 ...
 [4.1464266e-01 5.8475131e-01 1.9188474e-04 ... 5.0706825e-05
  1.0862849e-04 1.7022628e-04]
 [4.1464266e-01 5.8475131e-01 1.9188474e-04 ... 5.0706825e-05
  1.0862849e-04 1.7022628e-04]
 [4.1464245e-01 5.8475155e-01 1.9188464e-04 ... 5.0706800e-05
  1.0862843e-04 1.7022603e-04]]

In [ ]:
text_labels = encoder.classes_

Result = []
for i in range(len(data_test)):
    prediction = model.predict(np.array([x_test2[i]]))
    predicted_label = text_labels[np.argmax(prediction[0])]
    Result.append(predicted_label)
    
# Append the list of results to the test dataframe
pd.options.mode.chained_assignment = None  # default='warn'
data_test['sex_pred'] = Result

In [ ]:
data_test

             ID  ... sex_pred
496475  2903855  ...        M
319156   539344  ...        M
445520  2835244  ...        M
233417  1597502  ...        M
282135  1381180  ...        M
...         ...  ...      ...
89389   1212167  ...        M
373509  1802826  ...        M
314222  2019205  ...        M
211702   664824  ...        M
362409  1418623  ...        M

[5000 rows x 6 columns]

In [ ]:
#Load sentences from Pandas
test_sentences2_bis = data_test['keywords'].values
test_labels2_bis = data_test['age'].values

In [ ]:
#Load Sentences from pandas
test_sentences2_bis = data_test['cleaned'].values
test_labels2_bis = data_test['age'].values

In [ ]:
tokenizer = Tokenizer(num_words=vocab_size)
x_test2_bis = tokenizer.texts_to_sequences(test_sentences2_bis)
x_test2_bis = sequence.pad_sequences(x_test2_bis, maxlen=maxlen)

In [ ]:
y_test2_bis = test_labels2_bis

In [ ]:
xgbr.predict(x_test2_bis)

df=pd.DataFrame()
df[0]= data_test['ID']
df[1]=xgbr.predict(x_test2_bis)
print(df)

              0          1
496475  2903855  40.309944
319156   539344  40.309944
445520  2835244  40.309944
233417  1597502  40.309944
282135  1381180  40.309944
...         ...        ...
89389   1212167  40.309944
373509  1802826  40.309944
314222  2019205  40.309944
211702   664824  40.309944
362409  1418623  40.309944

[5000 rows x 2 columns]

In [ ]:
result_bis = pd.concat([data_test, df], axis=1)
print(result_bis)

             ID  ...          1
496475  2903855  ...  40.309944
319156   539344  ...  40.309944
445520  2835244  ...  40.309944
233417  1597502  ...  40.309944
282135  1381180  ...  40.309944
...         ...  ...        ...
89389   1212167  ...  40.309944
373509  1802826  ...  40.309944
314222  2019205  ...  40.309944
211702   664824  ...  40.309944
362409  1418623  ...  40.309944

[5000 rows x 8 columns]

In [ ]:
pd.set_option('display.max_columns', None)

In [ ]:
result_bis = result_bis.drop(columns=['age', 'sex', 'keywords', 'cleaned'])

In [ ]:
result_bis.rename(columns = {'1':'age_pred'}, inplace = True)

In [ ]:
result_bis

             ID sex_pred        0          1
220573  1114922        M  1114922  51.591843
373444   598087        M   598087  51.591843
84880   1196538        M  1196538  51.591843
117588   398050        M   398050  51.591843
488709  1778419        M  1778419  51.591843
...         ...      ...      ...        ...
254361  2225381        M  2225381  51.591843
27572   2493811        M  2493811  51.591843
163311  2470731        M  2470731  51.591843
214033  2154505        M  2154505  51.591843
19012    252386        M   252386  51.591843

[5000 rows x 4 columns]

In [ ]:
#Convert data frame into csv
final_submission = result_bis.to_csv('final_submission.csv')